*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Custom Properties */

:root {
	--ff-primary: 'Ubuntu', sans-serif;
	--ff-secondary: 'Ubuntu', sans-serif;
	
	--fw-reg: 300;
	--fw-bold: 900;

	--clr-light: #fff;
	--clr-dark: #303030;
	--clr-accent: #ffb6c1;

	--fs-h1: 3rem;
	--fs-h2: 2.25rem;
	--fs-h3: 1.25rem;
	--fs-body: 1.2rem;

	--bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25);
}

@media (min-width: 1100px) {
	:root {
		--fs-h1: 4.5rem;
		--fs-h2: 3.75rem;
		--fs-h3: 1.5rem;
		--fs-body: 1.125rem;
	}
}

/* Generic Styles */

body {
	background: var(--clr-light);
	color: var(--clr-dark);
	margin: 0;
	font-family: var(--ff-primary);
	font-size: var(--fs-body);
	line-height: 1.6;
}

section {
	padding: 5em 2em;
}

img {
	display: block;
	max-width: 100%;
}

strong{font-weight: var(--fw-bold)}

:focus {
	outline: 3px solid var(--clr-accent);
	outline-offset: 3px;
}

/* Buttons */

.btn {
	display:inline-block;
	padding: .5em 2.5em;
	background: var(--clr-accent);
	color: var(--clr-dark);
	text-decoration: none;
	cursor: pointer;
	font-size: .8rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: var(--fw-bold);
	transition: transform 200ms ease-in-out;
}

.btn:hover {
	transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
	line-height: 1.0;
	margin: 0;
}

h1 {font-size: var(--fs-h1)}
h2 {font-size: var(--fs-h2)}
h3 {font-size: var(--fs-h3)}


.section__title {
	margin-bottom: .25em;
}

.section__title--intro {
	font-weight: var(--fw-reg);
}

.section__subtitle {
	margin: 0;
	font-size: var(--fs-h3);
}

.section__subtitle--intro {
	background: var(--clr-accent);
	padding: .25em 1em;
	font-family: var(--ff-secondary);
	margin-bottom: 1em;
}

/* Intro Section */

.intro {
	position: relative;
}

.intro__img {
	/*box-shadow: var(--bs);*/
	outline: 4px solid var(--clr-accent);
	outline-offset: 3px;
}

@media (min-width: 1100px) {
	.intro{
		display: grid;
		width: min-content;
		margin: 0 auto;
		grid-column-gap: 1em;
		grid-template-areas:
			"img title"
			"img subtitle";
		grid-template-columns: min-content max-content;
	}
	
	.intro__img {
		grid-area: img;
		min-width: 250px;
		position: relative;
		z-index: 2;
	}

	.section__subtitle--intro {
		align-self: start;
		grid-row:2;
		text-align: right;
		position: relative;
		margin-left: -12px;
	}

}

/* Skills Section */

.skills{
	background-color: #959595;
	background-image: url(../img/flowers.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: multiply;
	color: var(--clr-light);
	text-align: center;
}

.section__title--skills {
	color: var(--clr-accent);
	position: relative;
}

.section__title--skills::after {
	content: '';
	display: block;
	width: 2em;
	height: 1px;
	margin: 0.5em auto 1em;
	background: var(--clr-accent);
}

.skills-list {
	margin-bottom: 4em;
}

.skill {
	max-width: 500px;
	margin: 0 auto;
}

@media (min-width: 1100px) {
	.skills-list {
		display: flex;
		margin-left: auto;
		margin-right: auto;
	}
	
	.skill + .skill {
		margin-left: 2em;
	}
}

/* About Section */

.about {
	max-width: 1100px;
	margin: 0 auto;
}

.about-image {
	outline: 4px solid var(--clr-accent);
	outline-offset: 3px;
}

@media (min-width: 1100px) {
	.about {
		display: grid;
		grid-template-columns: 1fr 400px;
		grid-template-areas:
			"title img"
			"text img";
		grid-column-gap: 2em;
	}

	.section__title--about {
		grid-area: title;
	}

	.about-image {
		grid-area: img;
	}	
}



